<footer class="py-3 bg-dark colour-custom">
  <br>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <ul class="list-unstyled">
          <li><a class="navbar-brand" href="/"><img src="<%= weblogo %>" alt="Server Logo" height="30px" draggable="false"> <%= servername %></a></li>
          <li><a href="https://github.com/benrobson/zander">zander Plugin GitHub Project</a></li>
          <li><a href="https://github.com/benrobson/zander-web">zander Web GitHub Project</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Moderation</h6>
        <ul class="list-unstyled">
          <li><a href="/report">Report a Player</a></li>
          <li><a href="/punishments"><i class="fas fa-gavel"></i> Punishments</a></li>
          <li><a href="/appeal"><i class="fas fa-pen-fancy"></i> Appeal a Punishment</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Policies</h6>
        <ul class="list-unstyled">
          <li><a href="/rules">Rules</a></li>
          <li><a href="/terms">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/refund">Refund Policy</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="/churchduringcovid"><i class="fas fa-church"></i> Church During COVID</li>
          <li><a href="/apply"><i class="fas fa-edit"></i> Apply</a></li>
          <li><a href="/forums"><i class="fas fa-comments"></i> Forums</li>
          <li><a href="/issues"><i class="fas fa-bug"></i> Report a Bug</a></li>
          <li><a href="/vote"><i class="fas fa-vote-yea"></i> Vote</a></li>
          <!-- <li><a href="/players"><i class="fas fa-users"></i> Players</a></li> -->
          <li><a href="/staff"><i class="fas fa-users"></i> Staff</a></li>
          <li><a href="/live"><i class="fab fa-twitch"></i> Live</a></li>
          <li><a href="/ranks"><i class="fas fa-tag"></i> Ranks</a></li>
          <li><a href="/feedback"><i class="fas fa-comments"></i> Feedback</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3 text-center">
        <h6 class="text-white">Platforms</h6>
        <ul class="list-unstyled">
          <% if (platformdiscord == true) { %>
          <li><a href="/discord" target="_blank"><i class="fab fa-discord"></i> Discord</a></li>
          <% } %>

          <% if (platformtwitch == true) { %>
            <li><a href="<%= twitch %>" target="_blank"><i class="fab fa-twitch"></i> Twitch</a></li>
          <% } %>

          <% if (platformtwitter == true) { %>
            <li><a href="<%= twitter %>" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
          <% } %>

          <% if (platformfacebook == true) { %>
            <li><a href="<%= facebook %>" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
          <% } %>

          <% if (platforminstagram == true) { %>
            <li><a href="<%= instagram %>" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
          <% } %>

          <% if (platformreddit == true) { %>
            <li><a href="<%= reddit %>" target="_blank"><i class="fab fa-reddit"></i> Reddit</a></li>
          <% } %>

          <% if (platformyoutube == true) { %>
            <li><a href="<%= youtube %>" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></li>
          <% } %>

          <% if (platformlinkedin == true) { %>
            <li><a href="<%= linkedin %>" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
          <% } %>

          <% if (platformtiktok == true) { %>
            <li><a href="<%= tiktok %>" target="_blank"><i class="fab fa-tiktok"></i> TikTok</a></li>
          <% } %>

          <% if (platformemail == true) { %>
            <li><a href="mailto:<%= contactemail %>"><i class="fas fa-envelope"></i> Email</a></li>
          <% } %>
          <li><a href="/shop"><i class="fas fa-shopping-basket"></i> Shop</a></li>
        </ul>
      </div>
    </div>

    <br>
    <div class="text-center">
      <small class="text-white">© Copyright 2018 - 2020 Crafting For Christ</small>
    </div>

    <small class="text-white">Some assets from <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://fontawesome.com/">Font Awesome</a>, <a href="https://www.flaticon.com/">FlatIcon</a> and <a href="https://novaskin.me/">NovaSkin</a>.<br>
      <%= servername %> is not an official Minecraft server. <%= servername %> is not associated or approved by Mojang.</small>
  </div>
</footer>

<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
