<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Punished Player</th>
        <th scope="col">Punished By</th>
        <th scope="col">Type</th>
        <th scope="col">Reason</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <% objdata.forEach(function (data) { %>
      <tbody>
        <tr>
          <td>#<%= data.id %></td>
          <td><img style="border-radius:5px;" src="https://crafatar.com/avatars/<%= data.punisheduuid %>?overlay" draggable="false" height="25px"> <a href="profile/<%= data.punished %>"><%= data.punished %></a></td>
          <td><img style="border-radius:5px;" src="https://crafatar.com/avatars/<%= data.punisheruuid %>?overlay" draggable="false" height="25px"> <a href="profile/<%= data.punisher %>"><%= data.punisher %></a></td>
          <td><%= data.punishtype %></td>
          <td><%= data.reason %></td>
          <td><%= data.timestamp %></td>
        </tr>
      </tbody>
    <% }) %>
</table>
