<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Punished Player</th>
        <th scope="col">Punished By</th>
        <th scope="col">Type</th>
        <th scope="col">Reason</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <% objdata.forEach(function (data) { %>
      <tbody>
        <tr>
          <td>#<%= data.id %></td>
          <td><%= data.punisheduser %></td>
          <td><%= data.punisher %></td>
          <td><%= data.punishtype %></td>
          <td><%= data.reason %></td>
          <td><%= data.punishtimestamp %></td>
        </tr>
      </tbody>
    <% }) %>
</table>
