<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-calendar"></i> Events</h1>
    </div>
  </div>

  <% if (!results[0]) { %>
    <%- include("partials/micros/noupcomingevents.ejs") %>
  <% } else { %>
    <% results.forEach(function (data) { %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="<%= data.icon %>" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#<%= data.title %>" style="color:black; text-decoration:none;"><h3><%= data.title %> <a href="#<%= data.title %>" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6><%= moment(data.eventdatetime).format('LLLL') %></h6>
              <div>
                <p><%= data.information %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    <% }) %>
  <% } %>

  <hr>
  <div class="row">
    <div class="col-sm">
      <img src="./img/youthgrouphosting.png" alt="" height="300px" style="border-radius:10px">
    </div>
    <div class="col-sm text-center">
      <h1>Youth Group Mini Games</h1>
      <p>Are you a church or youth group leader looking for game ideas?<br>Let us host a mini game session for you!</p>
      <p>XP Race | Capture the Wool | Destroy the Monument and more!</p>
      <p>Contact an Administrator via <a href="/discord">Discord</a> or email: <a href="mailto:<%= contactemail %>"><%= contactemail %></a></p>
    </div>
  </div>
  <br>
</div>

<%- include("./partials/footer.ejs") %>
