<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<link rel="stylesheet" href="./assets/css/faq.css">

<style media="screen">
  .btn-link {
    color: black;
    text-decoration: none;
  }
</style>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-book"></i> Information & Guides</h1>
      <p class="lead">Information you might be interested in!</p>
    </div>
  </div>

  <div class="alert alert-danger" role="alert">
    This webpage is very basic and not fully complete! We just released this so that you have support for some things that you may be struggling with.
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="intro-tab" data-toggle="tab" href="#intro" role="tab" aria-controls="intro" aria-selected="false">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="survival-tab" data-toggle="tab" href="#survival" role="tab" aria-controls="survival" aria-selected="false">Survival</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="shoprank-tab" data-toggle="tab" href="#shoprank" role="tab" aria-controls="shoprank" aria-selected="false">Shop / Ranks</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!--  -->
    <!-- Introduction Tab -->
    <!--  -->
    <div class="tab-pane fade show active" id="intro" role="tabpanel" aria-labelledby="intro-tab">
      <h1>Welcome to our Guides section!</h1>
      <p>Have an unanswered question about who we are and what we do? Experiencing an issue that you'd like resolved? Wondering how you can contribute? You're in the right place. The guides are structured in the following sections:</p>
      <ul>
        <li>General</li>
        <li>Shop / Ranks</li>
      </ul>

      <p>We hope these help. If you need assistance, please reach out to someone from our Staff Team. Staff are available to answer questions and wear their STAFF tag in-game. You can also shoot us an email at <a href="mailto:<%= contactemail %>"><%= contactemail %></a> or find us in our <a href="/discord">public Discord server</a>.</p>
      <p>If you spot any mistakes or gray areas in this guide, do please reach out as we'd want that fixed! Email <a href="mailto:<%= contactemail %>"><%= contactemail %></a> or talk to one of our Staff Members.</p>
      <p>Thanks,<br>Crafting For Christ Staff Team</p>
    </div>

    <!--  -->
    <!-- General Tab -->
    <!--  -->
    <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
      <div class="row">
        <div class="col-3">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">How can I join the Server?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">I'm having issues connecting!</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Who should I turn to for help?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">How can I report a player?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">I found a bug! How should I report it?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-6">Where can I apply for Staff?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-7">Can you add this feature?</a>
          </div>
        </div>
        <div class="col-sm">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">How can I join the Server?</h4>
              <h3><b>Server IP:</b> <code><%= serverip %></code></h3>
              <p>You're on your way to becoming a player! First, purchase yourself a Minecraft account and download the game.</p>
              <p>Once you have Minecraft opened, click on the <code>Multiplayer</code> button. This should bring you to a page where you are able to connect to any server you like. You can click “direct connect” and type in our ip address: <code><%= serverip %></code></p>
              <p>Another option is to click the “add server” button from the <code>Multiplayer</code> menu, which allows you to save a server to your list of favorite servers. Simply add the ip address to the “server address” field, and click done. You can now double click on the server to join and begin playing!</p>
            <h4 id="list-item-2">I'm having issues connecting!</h4>
              <p>Hm. Here are a few things that come to mind right off the bat:</p>
              <ul>
                <li>This might sound a little simple, but double-check that you're connecting to the <b>correct server IP:</b> <code><%= serverip %></code>. Typos happen to everyone.</li>
                <li>Make sure your <b>internet connection is stable</b>. Can you visit other internet websites in your browser? Some <b>parental controls</b> block internet access on multiple or all applications – could this apply to you?</li>
                <li><b>Minecraft logins might be down</b>, or <b>we could be experiencing issues</b>. If our servers are in a tough spot, we’ll do our best to keep everyone updated on <a href="/discord">our Discord server</a>. You can check whether Minecraft is having issues at <a href="https://twitter.com/mojangsupport">Mojang’s Twitter</a>.</li>
                <li>You might have been banned from the server (oops), or maybe your IP address is blocked for some reason. There could be a lot of reasons behind this (example: maybe your IP address is be associated to a set of bot accounts that we were attempting to block). Reach out to a Staff Member, and they'll get someone to look into what's going on.</li>
                <li>Ask for help! Reach out to a Staff Member in <a href="/discord">our Discord</a>, or email us at <a href="mailto:<%= contactemail %>"><%= contactemail %></a>.</li>
              </ul>
            <h4 id="list-item-3">Who should I turn to for help?</h4>
              <p>If you ever need help in-game, ask a Staff Member! They wear a <code>STAFF</code> tag in-game and should be easily noticeable. Staff will be able to answer your question, and if they don't know how to, they’ll refer you to someone who can.</p>
              <p>Staff are also available for you in case anything is wrong and you need someone to talk to. They are helpers, advisors, and moderators, all at once! We love our Staff.</p>
              <p>We want to keep an open dialogue between our Staff team and our playerbase. If you ever need help or have suggestions for us on how we can do better, feel free to talk to us in <a href="/discord">our Discord server</a> or email us: <a href="mailto:<%= contactemail %>"><%= contactemail %></a>.</p>
            <h4 id="list-item-4">How can I report a player?</h4>
              <div class="alert alert-warning" role="alert">
                This guide is currently being written and reviewed.. Sorry about that.
              </div>
            <h4 id="list-item-5">I found a bug! How should I report it?</h4>
              <p>There are two kinds of bugs in this world: bugs that aren’t too serious, and bugs that could cause us real harm if revealed to the public or if in the wrong hands.</p>
              <p>If you believe you’ve found a harmful, dangerous bug, please reach out to a Staff Member in private, or email us at <a href="mailto:<%= contactemail %>"><%= contactemail %></a>.</p>
              <p>If the bug isn’t too nasty, then you’re welcome to document it on our current <a href="/issues">GitHub Bugs repository</a>. Do search through the list of currently open & known bugs first, to make sure yours hasn't already been documented.</p>
            <h4 id="list-item-6">Where can I apply for Staff?</h4>
              <p>Go check out our <a href="/apply">apply page</a> for a list of positions that we are actively looking to fill.</p>
            <h4 id="list-item-7">Can you add this feature?</h4>
              <p>Currently we don't support any official platform for feature additions, but we always love a good idea. The best places to share your idea with us and the community is likely in the in-game chat, but most likely in <a href="/discord">our Discord server</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <!-- Survival Tab -->
    <!--  -->
    <div class="tab-pane fade" id="survival" role="tabpanel" aria-labelledby="survival-tab">
      <div class="row">
        <div class="col-3">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">What commands do I use to claim land?</a>
          </div>
        </div>
        <div class="col-sm">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">What commands do I use to claim land?</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Command</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>/claim</td>
                    <td>Create a claim where you are standing.</td>
                  </tr>
                  <tr>
                    <td>/trust</td>
                    <td>Gives another player permission to edit in your claim.</td>
                  </tr>
                  <tr>
                    <td>/untrust</td>
                    <td>Revokes any permissions granted to a player in your claim.</td>
                  </tr>
                  <tr>
                    <td>/untrust all</td>
                    <td>Removes all permissions for all players in your claim.</td>
                  </tr>
                  <tr>
                    <td>/trustlist</td>
                    <td>Lists the people you have trusted for the claim you're standing in.</td>
                  </tr>
                  <tr>
                    <td>/abandonclaim</td>
                    <td>Deletes the claim you're standing in.</td>
                  </tr>
                  <tr>
                    <td>/claimexplosions</td>
                    <td>Toggles if explosions are allowed in the claim.</td>
                  </tr>
                  <tr>
                    <td>/subdivideclaims</td>
                    <td>Switches your shovel to subdivision mode, so you can subdivide your claims.</td>
                  </tr>
                  <tr>
                    <td>/restrictsubclaim</td>
                    <td>Restricts a subclaim, so that it inherits no permissions from the parent claim.</td>
                  </tr>
                  <tr>
                    <td>/basicclaims</td>
                    <td>Puts your shovel back in basic claims mode.</td>
                  </tr>
                  <tr>
                    <td>/abandonallclaims</td>
                    <td>Deletes all of your claims.</td>
                  </tr>
                </tbody>
              </table>
              <small>Adapted from <a href="https://github.com/TechFortress/GriefPrevention/wiki/Commands">GriefPrevention Wiki Commands</a>.</small>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <!-- Shop / Rank Tab -->
    <!--  -->
    <div class="tab-pane fade" id="shoprank" role="tabpanel" aria-labelledby="shoprank-tab">
      <div class="row">
        <div class="col-3">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Where does my money go?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">What can I pay with?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">I didn't get my rank!</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Can I transfer my rank to a different account?</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">I didn't get my rank in Discord!</a>
          </div>
        </div>
        <div class="col-sm">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">Where does my money go?</h4>
              <p>Any money directed towards Crafting For Christ will primarly go towards the costs to maintain and run the Servers. In addition to server costs, money may also go towards Social Media advertising, giveaways and in the future Developers whom make the server possible. By purchasing anything from Crafting For Christ you are helping us keep the servers up and running!</p>
            <h4 id="list-item-2">What can I pay with?</h4>
              <p>I dunno..</p>
            <h4 id="list-item-3">I didn't get my rank!</h4>
              <p>If you have waited 12 hours and haven't received your rank or other purchased items, it is likely there was an issue handling your payment. Be sure to contact our <a href="mailto:<%= contactemail %>">Support Team</a> if you are in this position and we'll be sure to sort it out as soon as possible.</p>
            <h4 id="list-item-4">Can I transfer my rank to a different account?</h4>
              <p>Ranks purchased are strictly not transferrable, You may not move your rank from one Minecraft account to another.</p>
            <h4 id="list-item-5">I didn't get my rank in Discord!</h4>
              <p>The assigning of ranks in Discord is not automated. Please ping a Senior Staff or Administrator to ask for your rank to be assigned.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
</div>

<% include partials/footer.ejs %>
