<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<script type="text/javascript" src="/js/copytoclipboard.js"></script>

<div class="container">

  <%- include("./partials/micros/indexbanner.ejs") %>
  <br>

  <div class="text-center" style="padding: 20px;">
    <p style="font-size: 20pt;">By the grace God has given me, I laid a foundation as a wise builder, and someone else is building on it. But each one should build with care. For no one can lay any foundation other than the one already laid, which is Jesus Christ.</p>
    <h3>1 Corinthians 3:10-11</h3>
  </div>

  <% if (successalert == true) { %>
    <%- include("./partials/micros/successalert.ejs") %>
  <% } %>

  <% if (objdata[0].ccstreamslive > 1) { %>
    <%- include("./partials/micros/nowlive.ejs") %>
  <% } %>

  <div class="alert alert-primary" role="alert">
    During this time it's quite hard to meet as God's people, we've collated a list of churches still meeting online! Check out <a href="/churchduringcovid">Church During COVID</a>
  </div>

  <div class="alert alert-warning alert-dismissible">
    <strong>Notice:</strong> Our website is currently in development stages and may be a little buggy and broken!<br>Please report any issues you see to the <a href="/issues">issue tracker</a>.
  </div>

  <% if (event) { %>
    <%- include("./partials/micros/upcomingevent.ejs") %>
  <% } %>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Issues & Bugs</h4>
          <p class="card-text">When you're developing software and programs, anything and everything is bound to go wrong! If you see something, say something by creating an issue on the issue tracker.</p>
        </div>
        <div class="card-footer">
          <a href="/issues" class="btn btn-primary"><i class="fas fa-bug"></i> Issue Tracker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-comments"></i></h1>
          <h4 class="card-title">Forums</h4>
          <p class="card-text">Stay in touch with the community in conversation and don't miss the Server announcements and conversation by joining our forums.</p>
        </div>
        <div class="card-footer">
          <a href="/forums" class="btn btn-primary"><i class="fas fa-comments"></i> Forums</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fab fa-discord"></i></h1>
          <h4 class="card-title">Community</h4>
          <p class="card-text">Talk to and get to know the community of awesome people! Join the Discord to also stay informed about annoucements and upcoming events.</p>
        </div>
        <div class="card-footer">
          <a href="/discord" class="btn btn-primary"><i class="fab fa-discord"></i> Discord</a>
        </div>
      </div>
    </div>
  </div>

  <div style="margin:0 auto; width:900px;">
    <a class="twitter-timeline" href="https://twitter.com/craft4christmc?ref_src=twsrc%5Etfw" data-tweet-limit="1">Latest Tweet by craft4christmc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<div class="serverconnectcta">
  <div style="margin: 20px auto 30px; width: 1300px;">
    <p>Open Minecraft and connect with one of our Servers!</p>

    <% if (!servers) { %>
      <%- include("./partials/micros/noservers.ejs") %>
    <% } else { %>
      <div class="row">
        <% servers.forEach(function (data) { %>
        <div style="margin:auto 20 20; width:420px;">
          <img src="../img/servericon/<%= data.icon %>" alt="<%= data.name %> server logo." height="80px" draggable="false"><br>
          <h2><%= data.name %></h2>
          <div class="input-group mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup" value="<%= data.ipaddress %>" disabled style="margin:0 auto; max-width:350px; font-size:15pt; border-color:gray; color:white; background-color:black; text-align:center;">
          </div>
        </div>
        <% }) %>
      </div>
    <% } %>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
