<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<div class="container">
  <%- include("./partials/micros/indexbanner.ejs") %>
  <br>

  <% if (successalert == true) { %>
    <%- include("./partials/micros/successalert.ejs") %>
  <% } %>

  <% if (objdata[0].ccstreamslive > 1) { %>
    <%- include("./partials/micros/nowlive.ejs") %>
  <% } %>

  <div class="alert alert-primary" role="alert">
    During this time it's quite hard to meet as God's people, we've collated a list of churches still meeting online! Check out <a href="/churchduringcovid">Church During COVID</a>
  </div>

  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice:</strong> Our website is currently in development stages and may be a little buggy and broken!<br>Please report any issues you see to the <a href="/issues">issue tracker</a>.
  </div>

  <% if (objdata[1][0]) { %>
    <%- include("./partials/micros/upcomingevent.ejs") %>
  <% } %>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-bug"></i></h1>
          <h4 class="card-title">Issues & Bugs</h4>
          <p class="card-text">When you're developing software and programs, anything and everything is bound to go wrong! If you see something, say something by creating an issue on the issue tracker.</p>
        </div>
        <div class="card-footer">
          <a href="/issues" class="btn btn-primary"><i class="fas fa-bug"></i> Issue Tracker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fas fa-comments"></i></h1>
          <h4 class="card-title">Forums</h4>
          <p class="card-text">Stay in touch with the community in conversation and don't miss the Server announcements and conversation by joining our forums.</p>
        </div>
        <div class="card-footer">
          <a href="/forums" class="btn btn-primary"><i class="fas fa-comments"></i> Forums</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h1 class="card-title"><i class="fab fa-discord"></i></h1>
          <h4 class="card-title">Community</h4>
          <p class="card-text">Talk to and get to know the community of awesome people! Join the Discord to also stay informed about annoucements and upcoming events.</p>
        </div>
        <div class="card-footer">
          <a href="/discord" class="btn btn-primary"><i class="fab fa-discord"></i> Discord</a>
        </div>
      </div>
    </div>
  </div>

  <a class="twitter-timeline" href="https://twitter.com/craft4christmc?ref_src=twsrc%5Etfw" data-tweet-limit="1">Latest Tweet by craft4christmc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<%- include("./partials/footer.ejs") %>
