<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">News</h1>
      <p class="lead">Catch the latest updates about the server!</p>
    </div>
  </div>

  <% include ./partials/messages.ejs %>

  <% objdata.forEach(function (data) { %>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-">
          <img src="https://crafatar.com/avatars/<%= data.authoruuid %>?helm" alt="<%= data.author %>'s Head" height="60px" style="padding-left: 5px; border-radius: 10px;">
        </div>
        <div class="col-sm">
          <h4><%= data.title %></h4>
          <small><p>Published by <a href="/profile/<%= data.author %>"><%= data.author %></a> on <%= data.created %></p></small>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p><%= data.content %></p>
    </div>
  </div>
  <br>
  <% }) %>
</div>

<% include partials/footer.ejs %>
