<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<script type="text/javascript" src="/js/copytoclipboard.js"></script>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-play-circle"></i> Play</h1>
    </div>
  </div>

  <% if (!objdata[0]) { %>
    <%- include("./partials/micros/noservers.ejs") %>
  <% } else { %>
    <div class="row">
      <div class="col-sm">
        <% objdata.forEach(function (data) { %>
          <div class="card" style="width: 22.9rem; height:24rem; display:inline-block; vertical-align: top;">
            <div class="card-body">
              <img src="../img/servericon/<%= data.icon %>" alt="<%= data.name %> server logo." height="80px" draggable="false"><br>
              <h4 class="card-title"><%= data.name %></h4>
              <input type="text" class="form-control" id="inlineFormInputGroup" value="<%= data.ipaddress %>" disabled style="font-family:'MinecraftRegular'; margin:0 auto; font-size:12pt; border-color:gray; color:white; background-color:black; text-align:center;"><br>
              <p style="font-size:10pt"><%= data.description %></p>
              <% if (data.disclaimer) { %>
                <p class="text-muted" style="font-size:10pt"><%= data.disclaimer %></p>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <br>
  <% } %>
</div>

<%- include("./partials/footer.ejs") %>
