<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">Players</h1>
      <p class="lead">List of all of the players that have logged in.</p>
    </div>
  </div>

  <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Username</th>
          <th scope="col">Joins</th>
          <th scope="col">Status</th>
          <th scope="col">Last Seen</th>
        </tr>
      </thead>
    <% objdata.forEach(function (data) { %>
      <tbody>
        <tr>
          <td><img src="https://crafatar.com/avatars/<%= data[0].uuid %>?overlay" draggable="false" height="30px"></td>
          <td><a href="profile/<%= data[0].username %>"><%= data[0].username %></a></td>
          <td><%= data[1].joins %></td>
          <td><%= data[0].status %></td>
          <td><%= data[0].lastseen %></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
</div>

<% include partials/footer.ejs %>
