<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <img src="https://crafatar.com/avatars/<%= objdata[0][0].uuid %>?overlay" alt="Player Avatar Head" draggable="false">
      <h3 class="display-4"><%= objdata[0][0].username %></h3>
      <p class="lead">Status: <%= objdata[1][0].status %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-6 mb-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="true">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="punishments-tab" data-toggle="tab" href="#punishments" role="tab" aria-controls="contact" aria-selected="false">Punishments</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="stats" role="tabpanel" aria-labelledby="stats-tab">
          <div class="card card-home">
            <table class="table">
              <tr>
                <td>Joins</td>
                <td>Deaths</td>
                <td>Total Time Played</td>
                <td>Last Seen</td>
              </tr>

              <tr>
                <td class="profilenumber"><%= objdata[3][0].joins %></td>
                <td class="profilenumber"><%= objdata[0][0].deaths %></td>
                <td class="profilenumber"><%= objdata[2][0].timeplayed %></td>
                <td class="profilenumber"><%= objdata[4][0].lastseen %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
          <div class="alert alert-primary" role="alert">
            Here you should be able to create your own about page and add things, your own creative space! Coming Soon.
          </div>
          <p>This is where the users about custom information will go.</p>
        </div>
        <div class="tab-pane fade" id="punishments" role="tabpanel" aria-labelledby="punishments-tab">
          <div class="alert alert-primary" role="alert">
            This section is surpose to display a users punishments that they have, but it is currently not working.
          </div>
          <% include partials/punishment-table.ejs %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card card-home">
        <div class="card-body">
          <h4 class="card-title">Information</h4>
            <p>Joined: <%= objdata[0][0].joined %></p>
          <!-- <h4 class="card-title">Social</h4>
            <p><i class="fab fa-discord"></i>: shadowolf#9212</p>
            <p><i class="fab fa-instagram"></i>: @benrobson8</p>
            <p><i class="fab fa-youtube"></i>: /shadowolf</p>
            <p><i class="fab fa-twitch"></i>: shadowolfyt</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
