<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

  <% objdata.forEach(function (data) { %>
    <div class="container container-main">
      <header class="jumbotron my-4 home-jumbo">
        <div class="playerheader">
          <img src="https://crafatar.com/avatars/<%= data.uuid %>?overlay" alt="">
          <h1 class="display-3"><%= data.username %></h1>
          <h4><%= data.lastseen %></h4>
        </div>
      </header>

      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <div class="card-body">
              <p class="profile-text"><b>Joins:</b> <%= data.joins %></p>
              <p class="profile-text"><b>Leaves:</b> <%= data.leaves %></p>
              <p class="profile-text"><b>Deaths:</b> <%= data.deaths %></p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-home">
            <img class="card-img-top" src="assets/speaker.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Information</h4>
              <p class="side-card-text"><img src="assets/img/discordlogo.png" alt="Discord Logo" height="16"> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>

<% include partials/footer.ejs %>
