<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-gavel"></i> Punishments</h1>
      <p class="lead">See who has been doing the naughty..</p>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="true">Server</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="discord-tab" data-toggle="tab" href="#discord" role="tab" aria-controls="discord" aria-selected="false">Discord</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="game" role="tabpanel" aria-labelledby="game-tab">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Punished User</th>
              <th scope="col">Punished By</th>
              <th scope="col">Type</th>
              <th scope="col">Reason</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <% gamepunishmentsdata.forEach(function (data) { %>
            <tbody>
              <tr>
                <td>#<%= data.id %></td>
                <td><img src="https://crafatar.com/avatars/<%= data.punisheduuid %>?overlay" style="border-radius:10px; height:25px;"> <%= data.punished %></td>
                <td><img src="https://crafatar.com/avatars/<%= data.punisheruuid %>?overlay" style="border-radius:10px; height:25px;"> <%= data.punisher %></td>
                <td><%= data.punishtype %></td>
                <td><%= data.reason %></td>
                <!-- <td><%= data.timestamp %></td> -->
              </tr>
            </tbody>
          <% }) %>
      </table>
    </div>
    <div class="tab-pane fade" id="discord" role="tabpanel" aria-labelledby="discord-tab">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Punished User</th>
              <th scope="col">Punished By</th>
              <th scope="col">Type</th>
              <th scope="col">Reason</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <% discordpunishmentsdata.forEach(function (data) { %>
            <tbody>
              <tr>
                <td>#<%= data.id %></td>
                <td><%= data.punisheduser %></td>
                <td><%= data.punisher %></td>
                <td><%= data.punishtype %></td>
                <td><%= data.reason %></td>
                <!-- <td><%= data.punishtimestamp %></td> -->
              </tr>
            </tbody>
          <% }) %>
      </table>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
