<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<style media="screen">
  .ranktitle {
    text-align:center;
    vertical-align:sub;

    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6));
    background-size: 140px 140px;
    margin: 0 auto;
    margin-bottom:20px;
    height:140px;
    border-radius:30px 60px;
  }

  .ranktitle img {
    height:100px;
  }

  .rankperks {
    font-size:10pt;
  }

  .ranksectiontitle {
    font-size:12pt;
    text-align:left;
  }
</style>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-tag"></i> Ranks</h1>
    </div>
  </div>

  <div class="row">
    <!-- Iron -->
      <div class="col text-center">
        <h3 class="ranktitle" style="background-color: rgba(203, 205, 205, 0.7);"><img src="./assets/img/rank-icons/iron.png" alt=""><br>Iron</h3>
        <div class="text-muted">
          <h2><b>$1</b><small style="font-size:12pt">(monthly)</small></h2>
        </div>
        <br>

        <div class="rankperks">
          <p><span class="badge badge-pill badge-secondary">Iron</span> on our Server, Forums and Discord</p>
          <p>Ability to join full games during Events.</p>

          <p class="ranksectiontitle">Discord</p>
          <hr>
          <p>Access to exclusive Donator channels on Discord.</p>
          <p>Access to using the Discord Music Bot.</p>

          <p class="ranksectiontitle">Hub</p>
          <hr>
          <p>A player statue in the Hall of Patrons.</p>
          <p>Access to /fly in the Hub.</p>

          <p class="ranksectiontitle">Survival</p>
          <hr>
          <p>Access to /sethome, maximum of 2.</p>
        </div>

        <div class="alert alert-info rankperks" role="alert">
          <p>Current <span class="badge badge-pill badge-secondary">Iron</span> Members</p>
          <% objdata.forEach(function (data) { %>
            <% if (data.permission == 'group.iron') { %>
              <img class="staffimg" style="display: inline-block;" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="20px" draggable="false"> <%= data.username %>
            <% } %>
          <% }) %>
        </div>
      </div>

      <!-- Gold -->
      <div class="col text-center">
        <h3 class="ranktitle" style="background-color: rgba(243, 204, 0, 0.7);"><img src="./assets/img/rank-icons/gold.png" alt=""><br>Gold</h3>
        <div class="text-muted">
          <h2><b>$25</b> or <b>$5</b><small style="font-size:12pt">(monthly)</small></h2>
        </div>
        <br>

        <div class="rankperks">
          <p><span class="badge badge-pill badge-warning">Gold</span> on our Server, Forums and Discord</p>
          <p>Inherit all perks from <span class="badge badge-pill badge-secondary">Iron</span></p>
          <!-- <p class="ranksectiontitle">Server</p>
          <hr>
          <p>Access to using colours in your chat messages.</p> -->
          <p class="ranksectiontitle">Survival</p>
          <hr>
          <p>Access to /hat, wear the block that you’re holding.</p>
          <p>Access to /sethome, maximum of 3.</p>
        </div>

        <div class="alert alert-info rankperks" role="alert">
          <p>Current <span class="badge badge-pill badge-warning">Gold</span> Members</p>
          <% objdata.forEach(function (data) { %>
            <% if (data.permission == 'group.gold') { %>
              <img class="staffimg" style="display: inline-block;" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="20px" draggable="false"> <%= data.username %>
            <% } %>
          <% }) %>
        </div>
      </div>

      <!-- Diamond -->
      <div class="col text-center">
        <h3 class="ranktitle" style="background-color: rgba(0, 165, 218, 0.9);"><img src="./assets/img/rank-icons/diamond.png" alt=""><br>Diamond</h3>
        <div class="text-muted">
          <h2><b>$50</b> or <b>$10</b><small style="font-size:12pt">(monthly)</small></h2>
        </div>
        <br>

        <div class="rankperks">
          <p><span class="badge badge-pill badge-primary">Diamond</span> on our Server, Forums and Discord</p>
          <p>Inherit all perks from <span class="badge badge-pill badge-secondary">Iron</span> and <span class="badge badge-pill badge-warning">Gold</span></p>
          <p class="ranksectiontitle">Server</p>
          <hr>
          <p>Access to the exclusive donator Creative Server.</p>

          <p class="ranksectiontitle">Survival</p>
          <hr>
          <p>Use an alternate account for a Camera account.</p>
          <p>Access to /sethome, maximum of 4.</p>
        </div>

        <div class="alert alert-info rankperks" role="alert">
          <p>Current <span class="badge badge-pill badge-primary">Diamond</span> Members</p>
          <% objdata.forEach(function (data) { %>
            <% if (data.permission == 'group.diamond') { %>
              <img class="staffimg" style="display: inline-block;" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="20px" draggable="false"> <%= data.username %>
            <% } %>
          <% }) %>
        </div>
      </div>

      <!-- Emerald -->
      <!-- <div class="col text-center">
        <h3 class="ranktitle" style="background-color: rgba(0, 151, 97, 0.9);"><img src="./assets/img/rank-icons/emerald.png" alt=""><br>Emerald</h3>
        <div class="text-muted">
          <h2><b>$100</b> or <b>$30</b><small style="font-size:12pt">(monthly)</small></h2>
        </div>
        <br>

        <div class="rankperks">
          <p><span class="badge badge-pill badge-success">Emerald</span> on our Server, Forums and Discord</p>
          <p>Inherit all perks from <span class="badge badge-pill badge-secondary">Iron</span> , <span class="badge badge-pill badge-warning">Gold</span> and <span class="badge badge-pill badge-primary">Diamond</span></p>
          <p>Access to /sethome, maximum of 5 on the Survial Server.</p>
        </div>
      </div> -->
  </div>
  <br>

  <div class="alert alert-info" role="alert">
    Visit the Shop to buy any of our ranks to support our Server and operations <a href="/shop">click me to be directed to the shop.</a>
  </div>
  <div class="alert alert-info" role="alert">
    Looking for answers to questions in regards to the Shop? You can find them on our <a href="/guides">Guides</a> page.
  </div>
  <br>
</div>

<%- include("./partials/footer.ejs") %>
