<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-users"></i> Staff</h1>
    </div>
  </div>

  <p>Meet the Network Staff Team! These are the people to look for when you have problems, questions, etc. They work hard to ensure you you have the best experience possible during your stay.<br>People on here are <b>100% volunteers</b>. They set apart time to ensure that you get the best quality experience.</p>
  <small>If you think any of these people are engaging in behavior that is unacceptable, please send an e-mail to our <a href="mailto:<%= contactemail %>">Support Team</a>.</small>
  
  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Administrator</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.administrator') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Senior Staff</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.seniorstaff') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Developer</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.developer') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Junior Developer</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.juniordeveloper') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } else { %>
          <% jrdevs = false %>
        <% } %>
      <% }) %>

      <% if (jrdevs == false) { %>
        <%- include("./partials/micros/lookingtoapply.ejs") %>
      <% } %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Staff</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.staff') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Junior Staff</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.juniorstaff') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Builder</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.builder') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Event Staff</h5>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.eventstaff') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>"><img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"></a><br>
                <p class="staffname" style="margin-top:5px;"><a style="color:black; text-decoration:none;" href="/profile/<%= data.username %>"><%= data.username %></a><br><small style="line-height:0pt;"><%= data.title %></small></p>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px; line-height:-15pt;">Retired</h5>
    <small>These are the people who have dedicated their time and effort to the Crafting For Christ Network. We thank them for their time and effort.</small><br><br>
      <% lpresults.forEach(function (data) { %>
        <% if (data.permission == 'group.retired') { %>
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <a href="/profile/<%= data.username %>" style="color:black; text-decoration:none;"><img class="staffimg" style="display: inline-block;" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="45px" draggable="false"> <%= data.username %></a>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
