<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-users"></i> Staff</h1>
    </div>
  </div>

  <p>Meet the Network Staff Team! These are the people to look for when you have problems, questions, etc. They work hard to ensure you you have the best experience possible during your stay.<br>People on here are <b>100% volunteers</b>. They set apart time to ensure that you get the best quality experience.</p>
  <small>If you think any of these people are engaging in behavior that is unacceptable, please send an e-mail to our <a href="mailto:<%= contactemail %>">Support Team</a>.</small>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Administrator</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.administrator') { %>
<<<<<<< HEAD
          <div class="staffitem" style="display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %><br><small style="line-height:0pt;"><%= data.title %></small></p>
=======
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Senior Staff</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.seniorstaff') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Developer</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.developer') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Junior Developer</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.juniordeveloper') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Staff</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.staff') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Junior Staff</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.juniorstaff') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>

  <div style="font-size:12pt;">
    <hr>
    <h5 style="margin-bottom:15px;">Builder</h5>
      <% objdata.forEach(function (data) { %>
        <% if (data.permission == 'group.builder') { %>
<<<<<<< HEAD
          <div style="width: 12rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
                <!-- <small style="line-height:0pt;"><%= data.title %></small> -->
=======
          <div style="width: 10rem; display:inline-block;">
            <ul style="list-style-type:none;">
              <li class="staffitem">
                <img class="img-rounded" class="staffimg" src="https://crafatar.com/avatars/<%= data.uuid %>?helm" height="120px" draggable="false"><br>
                <p class="staffname" style="margin-top:5px;"><%= data.username %></p>
>>>>>>> 81f5ed77525ab9f985276300df4011bdf32ecf36
              </li>
            </ul>
          </div>
        <% } %>
      <% }) %>
      <br>
  </div>
</div>

<% include partials/footer.ejs %>
