<%- include("./partials/header.ejs") %>
<%- include("./partials/navigation.ejs") %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3"><i class="fas fa-vote-yea"></i> Vote</h1>
    </div>
  </div>

  <div class="row">
      <div class="col text-center">
        <h3>Play</h3>
        <h6>play.craftingforchrist.net</h6>
        <br>
        <!-- https://minecraft-server-list.com/server/457515/ -->
        <a href="https://minecraft-server-list.com/server/457515/" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 1</button></a><br>
        <!-- https://minecraftservers.org/server/580952 -->
        <a href="https://minecraftservers.org/server/580952" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 2</button></a><br>
        <!-- https://minecraft-mp.com/server-s252890 -->
        <a href="https://minecraft-mp.com/server-s252890" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 3</button></a>
      </div>

      <div class="col text-center">
        <h3>Revelation</h3>
        <h6>revelation.craftingforchrist.net</h6>
        <br>
        <!-- https://minecraft-server-list.com/server/452408/ -->
        <a href="https://minecraft-server-list.com/server/452408/" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 1</button></a><br>
        <!-- https://minecraftservers.org/server/598914 -->
        <a href="https://minecraftservers.org/server/598914" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 2</button></a><br>
        <!-- https://minecraft-mp.com/server-s247160 -->
        <a href="https://minecraft-mp.com/server-s247160" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 3</button></a>
      </div>

    <div class="col">
      <h3 class="text-center">Top Voters</h3>
      <div class="alert alert-info" role="alert" style="font-size:10pt;">
        The Top Voter perks are as the following:
        <ul>
          <li>The Top Voter rank in Discord.</li>
          <li>Temporary Diamond Rank for the month.</li>
          <li>1000 bonus claim blocks on Survival Server.</li>
        </ul>
        All votes get reset on the 1st of every month.
      </div>

      <% if (!objdata[0]) { %>
        <%- include("./partials/micros/novotes.ejs") %>
      <% } else { %>
        <table class="table" style="line-height:13px;">
          <% objdata.forEach(function (data) { %>
            <tr>
              <td><%= data.username %></td>
              <td><code><%= data.votes %></code></td>
            </tr>
          <% }) %>
        </table>
      <% } %>
    </div>
  </div>

  <br>
</div>

<%- include("./partials/footer.ejs") %>
