<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><b>What is your Username?</b></td>
          <td><%= username %></td>
        </tr>
        <tr>
          <td><b>What is your Discord Tag?</b></td>
          <td><%= discordtag %></td>
        </tr>
        <tr>
          <td><b>What platform do you record/stream on?</b></td>
          <td><%= contentplatform %></td>
        </tr>
        <tr>
          <td><b>What is the link for your channel?</b></td>
          <td><%= channellink %></td>
        </tr>
        <tr>
          <td><b>What is the amount of subscribers/followers you have?</b></td>
          <td><%= subscribercount %></td>
        </tr>
        <tr>
          <td><b>Any other additional information?</b></td>
          <td><%= additionalinformation %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
