<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><b>What is your Minecraft Username?</b></td>
          <td><%= reporteruser %></td>
        </tr>
        <tr>
          <td><b>What is the Minecraft username of the player you would like to report?</b></td>
          <td><%= reporteduser %></td>
        </tr>
        <tr>
          <td><b>Platform</b></td>
          <td><%= platform %></td>
        </tr>
        <tr>
          <td><b>Please provide your reasoning for this report with evidence.</b></td>
          <td><%= evidence %></td>
        </tr>
        <tr>
          <td><b>What is your Discord Tag?</b></td>
          <td><%= discordtag %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
