<% include ../../partials/header.ejs %>
<% include ../../partials/navigation.ejs %>

<div class="container">
  <div class="jumbotron jumbotron-image-header my-4 home-jumbo-header" id="video-container">
    <div class="container text-white">
      <h1 class="display-3">List of Articles</h1>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% objdata.forEach(function(data) { %>
        <tr>
          <td><%= data.title %></td>
          <td><img src="https://crafatar.com/avatars/<%- data.authoruuid %>?helm" alt="<%= data.author %>'s Head" height="20px" style="padding-right: 5px;"><%= data.author %></td>
          <td>
            <a href="edit?id=<%= data.id %>" class="card-link"><button type="button" class="btn btn-warning btn-sm">Edit</button></a>
            <a href="remove?id=<%= data.id %>" class="card-link"><button type="button" class="btn btn-danger btn-sm">Remove</button></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<% include ../../partials/footer.ejs %>
